# Source code that is not needed in production
/src/server

# Configuration files for compilation / development / testing
/.eslintrc.js
/babel.config.js
/jest.config.js
/tsconfig.json

# GitHub
/.github